
  .instructorContainer {
	margin-left: 70px;
	width: 1000px;
	border: 2px;
	font-size: 25px;
  }
  .title {
	width: 100%;
	margin: 1px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 40px;
	color: white;
	font-weight: 300;
	text-decoration: darkgrey;
	margin-top: 300px;
	margin-left: -940px;
	font: 700;
  } 
  
  .courseInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 400px; /* Align items vertically */
  }

.cartIcon {
	height: 48px;
	margin-right: 20px;
}
  .coursefee{
	border: 5px;
	border-color: black;
	background-color: rgb(228, 222, 222);
	height: 400px;
	width: 600px;
	margin-right: 40px;
	margin-top: 800px;
  } 

  .nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:600px;
	background: url('https://cdn.wionews.com/sites/default/files/inline-images/Nityanand%20Charan%20Das.jpg') center/cover;
	display: flex;
	align-items: left;
	padding-top: 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
  }

  
 
  